<html>
    <head><h1>Dan Schwarz</h1></head>
        <body>
        <h2>Projects</h2>
        <ul>
            <li><a href='https://github.com/dschwarz26/PokerBot'>PokerBots</a></li>
            <li><a href='https://github.com/dschwarz26/ChessBots'>ChessBots</a></li>
            <li><a href='https://github.com/dschwarz26/PersistentPhoto'>PersistentPhoto</a></li>
            <li><a href='https://github.com/dschwarz26/HomePage'>HomePage</a></li>
        </ul>
        <h2>Essays</h2>
        <ul>
            <li><a href='http://dschwarz26.wordpress.com/2014/02/05/unpacking/'>Unpacking</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2013/12/19/my-grandma-janet/'>My Grandma Janet</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2013/09/03/a-simple-case-of-updating/'>A Simple Case of Updating</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2013/06/25/a-difficult-life-transition/'>A Difficult Life Transition</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2013/04/23/more-on-ethics-of-vegetarianism/'>More on Ethics of Vegetarianism</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2013/03/31/nootropics/'>Nootropics</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/12/07/misguided-but-effective-heuristics/'>Misguided but Effective Heuristics</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/10/18/singularity-summit-2012/'>Singularity Summit 2012</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/09/28/virtue-ethics/'>Virtue Ethics</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/7/09/beckoning/'>Beckoning</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/03/22/in-defense-of-eating-meat/'>In Defense of Eating Meat</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/03/20/global-maxima/'>GLobal Maxima</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/02/22/dislocated-priors/'>Dislocated Priors</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/12/24/signaling-or-what-i-learned-in-2010-2011/'>Signaling, or What I learned in 2010-2011</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/10/14/utility-swaps/'>Utility Swaps</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/07/22/a-life-well-lived/'>A Life Well Lived</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/07/21/a-job-well-done/'>A Job Well Done</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/07/15/on-categorizing-errors-of-reasoning/'>On Categorizing Errors of Reasoning</a></li>
        </ul>
         <h2>Biopics</h2>
         <ul>
            <li><a href='http://dschwarz26.wordpress.com/2012/06/22/christopher-hitchens/'>Christopher Hitchens</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2012/06/07/ludwig-wittgenstein/'>Ludwig Wittgenstein</a></li>
            <li><a href='http://dschwarz26.wordpress.com/2011/07/20/sam-harris/'>Sam Harris</a></li>
        </ul>
        </body>
        <h2>Links</h2>
        <ul>
            <li><a href='http://www.keithschwarz.com'>Keith Schwarz's Website</a></li>
            <li><a href='https://www.josephschwarz.com'>Joseph Schwarz's Website</a></li>
        </ul>
    </head>
</html>