{% load staticfiles %}
{% load lookup %}

<html>
    <head>
    <link rel='shortcut icon' href='http://dschwarz.pythonanywhere.com/static/favicon.ico' type='image/ico' />
        <h1>Dan Schwarz</h1></head>
        <body>
            <table>
                <tr>
                    <th>Projects</th>
                    <th>Essays</th>
                    <th>Biopics</th>
                    <th>Personal</th>
                    <th>Links</th>
                </tr>
                {% for essay in essays %}
                <tr>
                    {% if forloop.counter0 < projects|length %}
                    <td><li><a href='projects|lookup_link:forloop.counter0'>{{projects|lookup_name:forloop.counter0}}</a></li></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if forloop.counter0 < essays|length %}
                    <td><li><a href='http://dschwarz.pythonanywhere.com/pages/essays/{{essays|lookup_name:forloop.counter0}}'>{{essays|lookup_name:forloop.counter0}}</a></li></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if forloop.counter0 < biopics|length %}
                    <td><li><a href='http://dschwarz.pythonanywhere.com/pages/biopics/{{biopics|lookup_name:forloop.counter0}}'>{{biopics|lookup_name:forloop.counter0}}</a></li></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if forloop.counter0 < personals|length %}
                    <td><li><a href='http://dschwarz.pythonanywhere.com/pages/personal/{{personals|lookup_name:forloop.counter0}}'>{{personals|lookup_name:forloop.counter0}}</a></li></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if forloop.counter0 < links|length %}
                    <td><li><a href='links|lookup_link:forloop.counter0'>{{links|lookup_name:forloop.counter0}}</a></li></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </body>
    </head>
</html>